[user]
	name = Peter Wang
	email = peter.wang@shopify.com
[core]
	editor = code --wait
[diff]
    tool = vscode
[difftool "vscode"]
    cmd = code --wait --diff $LOCAL $REMOTE
[pull]
	rebase = true
[include]
	path = /Users/Lei_Wang/.config/dev/gitconfig
